<div class="container" fxLayout="row">

    <div fxFlex="50" class="form-size">
        <h3>Comentários</h3>
        <form novalidate [formGroup]="commentsForm" (ngSubmit)="onSubmit()">
            <label for="name"><p>Nome</p></label>
            <input formControlName="author" type="string" class="form-control" id="name" name="nameInput">
            <label for="comment"><p>Comentário</p></label>
            <textarea formControlName="comment" type="string" class="form-control" id="comment"></textarea>
            <button type="submit">Adicionar</button>
        </form>
    </div>

    <div fxFlex="50" class="logo-size">
        <div fxLayout="row" fxFlexAlign="end" class="logo">
            <img  fxFlexAlign="end" src="../../assets/images/logo.svg" />
        </div>
    </div>


</div>